# If python build in source tree
build/*
dist/*
dataframes_*
plots_*
output_*
*.egg-info
.DS_Store
*.json
*.h5
**/__pycache__
*.vscode
machine_learning_hep/data/**/*.root

# Configuration files produced by the user
./*.yml
./*.yaml


# Python compiled
*.pyc
*.pyd
*.pyo

# Other Python stuff
**/.mypy_cache
*.egg-info

# object files
*.slo
*.lo
*.o
*.obj

# dynamic libraries
*.so
*.dylib
*.dll

# static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
*.app

# editor backups/cached
*.swp
*~

# macOS
.DS_Store
