# If python build in source tree
build/*
dist/*

# Python compiled
*.pyc
*.pyd
*.pyo

# Other Python stuff
**/.mypy_cache
*.egg-info

# object files
*.slo
*.lo
*.o
*.obj

# dynamic libraries
*.so
*.dylib
*.dll

# static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
*.app

# editor backups/cached
*.swp
*~

# macOS
.DS_Store
