# If python build in source tree
build/*
dist/*
*.egg-info

# Python compiled
*.pyc
*.pyd
*.pyo

# object files
*.slo
*.lo
*.o
*.obj

# dynamic libraries
*.so
*.dylib
*.dll

# static libraries
*.lai
*.la
*.a
*.lib

# executables
*.exe
*.out
*.app

# editor backups/cached
*.swp
*~
*.vscode

#data files
machine_learning_hep/data/**/*.root
