<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My style -->
    <link rel="stylesheet" href="/static/style.css">

    <title>Machine Learning Interface</title>

<script>
  // this is a java script that can be put in the head and used in the body.
  // s1, s2 are strings with the name of the html element
  function populate(s1,s2){
    // this is the way in which I define variables with the element of the html file
    var s1 = document.getElementById(s1);
    var s2 = document.getElementById(s2);
    // innerHTML can access the value of an existing element.
    // Below I am setting the second option list to zero
    s2.innerHTML = "";
    if(s1.value == "JetTagging"){
      var optionArray = ["lightquarkjet"];
    } 
    else if(s1.value == "HeavyFlavour"){
      var optionArray = ["LctopKpi","LctopK0s","Dplus","Dzero","Dstar","Ds"];
    }
    else if(s1.value == "Nuclei"){
      var optionArray = ["hypertritium"];
    }
    else if(s1.value == "PID"){
      var optionArray = ["PIDKaon", "PIDPion"];
    }
    for (var i = 0; i < optionArray.length; i++) {
      var newOption = document.createElement("option");
      newOption.value = optionArray[i];
      newOption.innerHTML = optionArray[i];
      s2.appendChild(newOption);
    }
  }
</script>
<script>
    function fillvarfields(){
    }
</script>
</head>
<body>
  <center>
  <h1> Classification package for HEP</h1>
  <hr />
  <h3> Choose classification subtype:</h3>
  <form action="/formContinue" method="post">
    <select id="slct1" name="slct1" onchange="populate(this.id,'slct2')">
      <option value=""></option>
      <option value="HeavyFlavour">HeavyFlavour</option>
      <option value="JetTagging">JetTagging</option>
      <option value="Nuclei">Nuclei</option>
    </select>
    <h3> Choose analysis:</h3>
    <select id="slct2" name="slct2"></select>
    <hr />
    <button type="submit" class="btn btn-default" style="background:lightgreen">Continue</button>
  </form>
</center>
</body>
</html>

</body>
</html>
