<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My style -->
    <link rel="stylesheet" href="/static/style.css">

    <title>Machine Learning Interface</title>
  </head>

<body>
<h1>Machine Learning Interface</h1>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<ul class="nav nav-pills" id="myTab" role="tablist">
  {{ tab_header(imageIO_vardist, "Distributions", "distr", active=True) }}
  {{ tab_header(imageIO_scatterplot, "Scatter plot", "scatter") }}
</ul>
<div class="tab-content" id="myTabContent">
  {{ tab_content(imageIO_vardist, "Distributions", "distr", active=True) }}
  {{ tab_content(imageIO_scatterplot, "Scatter plot", "scatter") }}


  <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">asd</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">qwertyu</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
</div>



{% if False %}
{{ imageIO_vardist|render_image }}
{{ imageIO_scatterplot|render_image }}
{{ imageIO_corr_sig|render_image }}
{{ imageIO_corr_bkg|render_image }}
{{ imageIO_precision_recall|render_image }}
{{ imageIO_ROC|render_image }}
{{ imageIO_plot_learning_curves|render_image }}
{{ img_scoresRME|render_image }}
{{ img_import|render_image }}
{{ img_gridsearch|render_image }}
{% endif %}

</body>

</html>