<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My style -->
    <link rel="stylesheet" href="/static/style.css">

    <title>Machine Learning Interface</title>

<script>
  // this is a java script that can be put in the head and used in the body.
  // s1, s2 are strings with the name of the html element
  function populate(s1,s2){
    // this is the way in which I define variables with the element of the html file
    var s1 = document.getElementById(s1);
    var s2 = document.getElementById(s2);
    // innerHTML can access the value of an existing element.
    // Below I am setting the second option list to zero
    s2.innerHTML = "";
    if(s1.value == "JetTagging"){
      var optionArray = ["lightquarkjet"];
    } 
    else if(s1.value == "HeavyFlavour"){
      var optionArray = ["Lc","Lcnew","Dplus","Dzero","Dstar","Ds","Dsnew"];
    }
    else if(s1.value == "Nuclei"){
      var optionArray = ["hypertritium"];
    }
    else if(s1.value == "PID"){
      var optionArray = ["PIDKaon", "PIDPion"];
    }
    for (var i = 0; i < optionArray.length; i++) {
      var newOption = document.createElement("option");
      newOption.value = optionArray[i];
      newOption.innerHTML = optionArray[i];
      s2.appendChild(newOption);
    }
  }
</script>
<script>
    function fillvarfields(){
    }
</script>
</head>
<body>
  <center>
  <h1> Classification package for HEP</h1>
  <hr />
<form action="/formContinue/formSubmit" method="post">
    <div>
    <h3> Classification subtype:</h3>
        <input class="form-control" type="text" name="subtype" id="subtype" maxlength="50" style="width: 200px;" value={{ displaytext(subtype) }}></input><br>
    </div>
    <hr />
    <div>
    <h3> Analysis:</h3>
        <input class="form-control" type="text" name="case" id="case" maxlength="50" style="width: 100px;" value={{ displaytext(case) }}></input><br>
    </div>
    <hr />
    <div class="container-fluid">
    <h3> Configuration:</h3>
    
    <div class="form-group row">
        <label for="Signal" class="col-sm-2 col-form-label">File Signal</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="filesig" id="filesig" maxlength="5000" value={{ displaytext(filesig) }}></input>
        </div>
    </div>
    <div class="form-group row">
        <label for="Background" class="col-sm-2 col-form-label">File Background</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="filebkg" id="filebkg" maxlength="5000" value={{ displaytext(filebkg) }}></input>
        </div>
    </div>
    <div class="form-group row">
        <label for="treeName" class="col-sm-2 col-form-label">Tree name</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="tree_name" id="tree_name" maxlength="5000" value={{ displaytext(trename) }}></input>
        </div>
    </div>
    <div class="form-group row">
        <label for="listVars" class="col-sm-2 col-form-label">List of all variables</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="var_all" id="var_all" maxlength="5000" value={{ displaytext(var_all_str) }}></input><br>
        </div>
    </div>
    <div class="form-group row">
        <label for="signalVar" class="col-sm-2 col-form-label">Signal variable</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="var_signal" id="var_signal" maxlength="5000" value={{ displaytext(var_signal) }}></input>
        </div>
    </div>
    <div class="form-group row">
        <label for="signalSel" class="col-sm-2 col-form-label">Signal selection</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="sel_signal" id="sel_signal" maxlength="5000" value={{ displaytext(sel_signal) }}></input>
        </div>
    </div>
    <div class="form-group row">
        <label for="bkgSel" class="col-sm-2 col-form-label">Background selection</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="sel_bkg" id="sel_bkg" maxlength="5000" value={{ displaytext(sel_bkg_str) }}></input>
        </div>
    </div>
    <div class="form-group row">
        <label for="trainVars" class="col-sm-2 col-form-label">Training variables</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="var_training" id="var_training" maxlength="5000" value={{ displaytext(var_training_str) }}></input><br>
        </div>
    </div>
    <div class="form-group row">
        <label for="corrVarsx" class="col-sm-2 col-form-label">Correlation variables, x</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="var_correlation_x" id="var_correlation_x" maxlength="5000" value={{ displaytext(var_corr_x_str) }}></input>
        </div>
    </div>
    <div class="form-group row">
         <label for="corrVarsy" class="col-sm-2 col-form-label">Correlation variables, y</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="var_correlation_y" id="var_correlation_y" maxlength="5000" value={{ displaytext(var_corr_y_str) }}></input><br>
        </div>
    </div>
    <div class="form-group row">
        <label for="skimVars" class="col-sm-2 col-form-label">Skimming variables</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="var_skimming" id="var_skimming" maxlength="5000" value={{ displaytext(var_skimming_str) }}></input>
        </div>
    </div>
    <div class="form-group row">
        <label for="skimVarsMin" class="col-sm-2 col-form-label">Min values</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="var_skimming_min_str" id="var_skimming_min_str" maxlength="5000" value={{ displaytext(var_skimming_min_str) }}></input>
        </div>
    </div>
    <div class="form-group row">
        <label for="skimVarsMax" class="col-sm-2 col-form-label">Max values</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="var_skimming_max_str" id="var_skimming_max_str" maxlength="5000" value={{ displaytext(var_skimming_max_str) }}></input><br>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
        <label for="nEvtSig">N evt. signal</label>
            <input class="form-control" type="number" name="nevt_sig" value=30></input>
        </div>
        <div class="form-group col-md-4">
        <label for="nEvtsBkg">N evt. background</label>
            <input class="form-control" type="number" name="nevt_bkg" value=30></input>
        </div>
        <div class="form-group col-md-4">
            <label for="testFrac">Test fraction</label>
            <input class="form-control" type="number" name="test_frac" step=0.01 value=0.2></input>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="rdnSplit">Random split</label>
            <input class="form-control" type="number" name="rnd_splt" value=12></input>
        </div>
        <div class="form-group col-md-3">
            <label for="rdnShuffle">Random shuffle</label>
            <input class="form-control" type="number" name="rnd_shuffle" value=12></input>
        </div>
        <div class="form-group col-md-3">
            <label for="testFrac">Number of k folds</label>
            <input class="form-control" type="number" name="nkfolds" value=10></input>
        </div>
        <div class="form-group col-md-3">
            <label for="rdnSplit">Number of cores:</label>
            <input class="form-control" type="number" name="ncores" value=1></input>
        </div>
    </div>
    

    <hr />
    <h3> Choose algorithm:</h3>
    <input type="checkbox" name="activate_scikit" checked></input> SciKit
    <input type="checkbox" name="activate_xgboost" checked></input> XGBoost
    <input type="checkbox" name="activate_keras"></input> Keras

    <hr />
    <h3> Choose your action:</h3>
    <input type="checkbox" name="docorrelation" checked></input> Distribution
    <input type="checkbox" name="dotraining"></input> Training
    <input type="checkbox" name="doROC" checked></input> ROC curves
    <input type="checkbox" name="dolearningcurve"></input> Learning curves
    <input type="checkbox" name="docrossvalidation"></input> Cross Validation
    <input type="checkbox" name="doimportance"></input> Importance
    <input type="checkbox" name="dogridsearch"></input> Grid Search

    <hr />
    <button type="submit" class="btn btn-default" style="background:lightgreen">Submit</button>
  </form>
</center>
</body>
</html>


<!--
<script type="text/javascript">
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript'; ga.async = true;
    var s = document.getElementsByTagName('script')[0];
//     s.parentNode.insertBefore(ga, s);
  })();
</script>
 -->
<!--
<script>
function myFunction() {
  var mlsubtype=document.getElementById("slct1").value;
  var analysis=document.getElementById("slct2").value;
  document.write(mlsubtype)
  document.write("<br>"); // 3 new lines!  My oh my!
  document.write(analysis)
}
</script>
 -->

</body>
</html>
